.SearchForm{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .SearchForm form{
  position: fixed;
  z-index: 10;
} */

.SearchForm div {
  max-width: 200px;
}

.SearchForm div #search,
.SearchForm button {
  padding: 0.8rem;
  color: rgb(22, 24, 83);
  background-color: rgb(250, 237, 240) ;
  box-shadow: 6px 8px 1px rgb(236, 37, 90);
  transition: background 500ms;
}
.SearchForm #search:hover,
.SearchForm #search:focus,
.SearchForm button:hover {
  background: rgb(255, 255, 255) ;
}

.SearchForm div #search {
  width: 100%;
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}
.SearchForm div #search::placeholder {
  color: rgba(22, 24, 83, 0.308);
}

.SearchForm button {
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
