.Header {
  width: 100%;
  max-width: 900px;
  position: sticky;
  top: 0;
  z-index: 20;
  margin: auto;
}
 
.Header-menu {
  background: rgb(250, 237, 240);
  display: flex;
  gap: 5px;
  overflow-x: auto;
  justify-content: space-between;
}

.Header-menu li {
  padding: 0.8rem 0 19px;
}

.Header-menu li a {
  color: rgb(22, 24, 83);
  font-weight: 700;
  padding: 0.8rem;
  transition: background 400ms, border-bottom 250ms, color 300ms;
}

.Header-menu a:hover {
  background: rgb(255, 255, 255);
  border-bottom: 6px solid rgb(236, 37, 90);
  color: rgb(236, 37, 90);
}
